:root {
    --red: #b91646;
    --redm: #c07a8f;
    --gris: #DFD8CA;
    --azul: #41b9b5;
}

/*--RECURSOS--*/

* {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2rem;
    text-align: justify;
    overflow-x: hidden;
    background-color: whitesmoke;
    color: grey;
}

.cajablanca {
    height: 100px;
}

/*--BARRA SUPERIOR--*/
.headboard {
    display: grid;
    position: fixed; /* DEJAR CABECERA FIJA AL BAJAR*/
    z-index: 1; /*PARA DECIR QUE ESTE ENCIMA DE OTRAS COSAS*/
    width: 100%;
    background: whitesmoke;
}

.dates {
    display: flex;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px grey;
    margin: 0px 50px;
    justify-content: flex-end;
}

.dates01 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    justify-items: center;
    font-size: 1.5rem;
}

.email a {
    text-decoration: none;
    color: #5b5b5b;
}

.bar_top {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    width: 40%;
    height: 90px;
    justify-content: flex-start;
    padding-left: 50px;
}

.logo h1 {
    font-size: 3rem;
    color: var(--redm);
    font-weight: 100;
    margin-left: 2rem;
}

.logo h1 span {
    font-size: 40px;
    font-weight: 900;
    color: var(--red);
}

.logo img {
    width: 80px;
    height: 80px;
}

.menu {
    display: flex;
    width: 60%;
    height: 90px;
    align-items: center;
    gap: 2rem;
    justify-content: flex-end;
    padding-right: 50px;
}

.menu a {
    list-style: none;
    color: var(--red);
    text-decoration: none;
    padding: 8px;
    font-size: 1.7rem;
    transition: 0.3s;
    border-radius: 5px;
    position: relative;
}

.menu a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: var(--red);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;

}

.menu a:hover:before {
    transform: scaleX(1);
    transform-origin: left;

}


/*--PIE DE PAGINA--*/

.pie {

    display: flex;
    color: whitesmoke;
    width: 100%;
    height: 50px;
    background-color: rgba(185, 22, 70, 0.8);
}

.pie_corto {
    position: absolute;
    bottom: 0;
    display: flex;
    color: whitesmoke;
    width: 100%;
    height: 50px;
    background-color: rgba(185, 22, 70, 0.8);

}

.pie_corto p {

    justify-content: center;
    margin: auto;
    font-weight: 900;
}

.pie p {

    justify-content: center;
    margin: auto;
    font-weight: 900;
}


@media (max-width: 1152px) {
    .bar_top {
        flex-direction: column;
    }

    .logo {
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .menu {
        justify-content: center;
        width: 100%;
        align-items: center;
    }
}


@media (max-width: 657px) {

    .bar_top {
        position: relative;
    }

    .headboard {
        display: none;
    }

    .logo {
        justify-content: center;
        width: 100%;
        height: auto;
        align-items: center;
        padding-left: 0px;
    }

    .logo h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 0rem;
        background-color: #ececec;
    }

    .menu a {
        color: var(--red);
    }


}


